@model IEnumerable<sistemaWEB.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="col-md-12" style="background-color:#B4E7D8; width:90%; height:95%; border-radius:10px;  align-content:center; margin: 20px;">

        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ubicacion)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.capacidad)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.costo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.ubicacion.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.capacidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Menu">Back to List</a>
</div>