@model IEnumerable<sistemaWEB.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<div class="row">

    <div class="col-md-12" style="background-color:#B4E7D8; width:90%; height:95%; border-radius:10px;  align-content:center; margin: 20px;">

        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.apellido)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.dni)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.mail)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.password)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.intentosFallidos)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.bloqueado)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.credito)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.esAdmin)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr scope="row">
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.intentosFallidos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bloqueado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.credito)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.esAdmin)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Menu">Back to List</a>
</div>