@model sistemaWEB.Models.ReservaHotel

@{
    ViewData["Title"] = "Details";
}

<div class="row">

    <div class="col-md-12" style="background-color:#B4E7D8; width:90%; height:95%; border-radius:10px;  align-content:center; margin: 20px;">


        <h1>Details</h1>

        <div>
            <h4>ReservaHotel</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.miHotel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.miHotel.nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.miUsuario)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.miUsuario.dni)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.cantidadPersonas)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.cantidadPersonas)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.fechaDesde)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.fechaDesde)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.fechaHasta)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.fechaHasta)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.pagado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.pagado)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.idReservaHotel">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
